<div ng-show="imgdata.length > 0" class="bankSelector">
    <div ng-click="toggleList()" class="selection bankName">
        <img class="selected" ng-src="{{opt.icon}}" ng-repeat="opt in imgdata | filter:{'key':selected}" />
    </div>
    <div id="list" class="lister" style="display: none;">
        <ul class="nav selectionList">
            <li ng-click="selectBank(opt.key)" ng-repeat="opt in imgdata">
                <div class="bankName"><img ng-src="{{opt.icon}}" /></div>
            </li>
        </ul>
    </div>
</div>